{% extends 'public/base1.html' %}
{% load staticfiles %}
{% block title %}商品详情
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static '' %}js/jquery-1.12.4.min.js"></script>
{% endblock %}
{% block context %}
    <div class="navbar_con">
        <div class="navbar clearfix">
            <div class="subnav_con fl">
                <h1>全部商品分类</h1>
                <span></span>
                <ul class="subnav">
                    {% for type in types %}
                        {# 商品分类 #}
                        <li><a href="#" class="{{ type.logo }}">{{ type.name }}</a></li>
                    {% endfor %}

                </ul>
            </div>
            <ul class="navlist fl">
            </ul>
        </div>
    </div>

    <div class="breadcrumb">
        <a href="#">全部分类</a>
        <span>></span>
        {# 分类名称 #}
        <a href="#">{{ sku.type.name }}</a>
        <span>></span>
        <a href="#">商品详情</a>
    </div>

    <div class="goods_detail_con clearfix">
        {# 商品图片 #}
        <div class="goods_detail_pic fl"><img src="/media/{{ sku.image }}"></div>

        <div class="goods_detail_list fr">
            <h3>{{ sku.name }}</h3> {# 商品名字 #}
            <p>{{ sku.desc }}</p> {# 商品简介 #}
            <div class="prize_bar">
                <span class="show_pirze">¥<em>{{ sku.price }}</em></span> {# 商品价格 #}
                <span class="show_unit">单  位：{{ sku.unite }}g</span> {# 商品单位 #}
            </div>
            <div class="goods_num clearfix">
                <div class="num_name fl">数 量：</div>
                <div class="num_add fl">
                    <input type="text" class="num_show fl" value="1">
                    <a href="javascript:;" class="add fr">+</a>
                    <a href="javascript:;" class="minus fr">-</a>
                </div>
            </div>
            <div class="total">总价：<em>16.80元</em></div>
            <div class="operate_btn">
                <a href="javascript:;" class="buy_btn">立即购买</a>
                {% csrf_token %}
                <a href="javascript:;" class="add_cart" id="add_cart" sku_id={{ sku.id }}>加入购物车</a>
            </div>
        </div>
    </div>

    <div class="main_wrap clearfix">
        <div class="l_wrap fl clearfix">
            <div class="new_goods">
                <h3>新品推荐</h3>
                <ul>
                    {# 新品推荐 #}
                    {% for sku in new_skus %}
                        <li>
                            <a href="/detail/?goods_id={{ sku.id }}"><img src="/media/{{ sku.image }}"></a>
                            <h4><a href="/detail/?goods_id={{ sku.id }}">{{ sku.name }}</a></h4>
                            <div class="prize">￥{{ sku.price }}</div>
                        </li>
                    {% endfor %}

                </ul>
            </div>
        </div>

        <div class="r_wrap fr clearfix">
            <ul class="detail_tab clearfix">
                <li class="active">商品介绍</li>
                <li>评论</li>
            </ul>

            <div class="tab_content">
                <dl>
                    <dt>商品详情：</dt>
                    {# 商品详情 #}
                    <dd>{{ sku.goods.detail | safe }}</dd>
                </dl>
            </div>

        </div>
    </div>
    <div class="add_jump"></div>
{% endblock %}
{% block bottem_js %}

    <script type="text/javascript">
        {#其他图片#}
        $('.other_img').find('img').click(function () {
            other_img = $(this).attr('src')
            $('.goods_detail_pic').find('img').attr('src', other_img)
        });
        update_goods_amount();

        function update_goods_amount() {
            count = $('.num_show').val();
            count = parseInt(count);
            price = $('.show_pirze').children('em').text();
            price = parseFloat(price);
            {#获取小计#}
            amount = count * price;
            {#总价赋值#}
            $('.total').children('em').text(amount.toFixed(2))

        }

        {# 增加商品数量#}
        $('.add').click(function () {
            {#    获取原有的数目#}
            count = $('.num_show').val();
            {#    加1 #}
            count = parseInt(count) + 1;
            {#    重新设置商品数目#}
            $('.num_show').val(count);
            update_goods_amount()
        });
        {#减少商品数量#}
        $('.minus').click(function () {
            {#    获取原有的数目#}
            count = $('.num_show').val();
            count = parseInt(count) - 1;
            if (count < 1) {
                count = 1
            }
            {#    重新设置商品数目#}
            $('.num_show').val(count);
            {#    更新数据#}
            update_goods_amount()
        });
        // 手动输入商品的数量
        $('.num_show').blur(function () {
            // 获取原有的数目
            count = $(this).val()
            count = parseInt(count)
            if (count < 1 || isNaN(count)) {
                count = 1
            }
            // 重新设置商品数目
            $(this).val(count)

            update_goods_amount()
        });
        {#  添加购物车 #}
        var $add_x = $('.add_cart').offset().top;
        var $add_y = $('.add_cart').offset().left;

        var $to_x = $('#show_count').offset().top;
        var $to_y = $('#show_count').offset().left;

        $('.add_cart').click(function () {
            {#此部分写代码#}
            {#获取商品ID 和 商品数量#}
            sku_id = $(this).attr('sku_id');
            count = $('.num_show').val();
            csrf = $("input[name='csrfmiddlewaretoken']").val();
            {#组织参数#}
            params = {'sku_id': sku_id, 'count': count, 'csrfmiddlewaretoken': csrf};
            {#发起post ajax请求,访问/cart/add,传递参数:sku_id count#}
            $.post('/cart/add/', params, function (data) {
                {#console.log(data)#}
                if (data.res == 5) {

                    {#添加成功#}
                    $(".add_jump").css({'left': $add_y + 80, 'top': $add_x + 10, 'display': 'block'});
                    $(".add_jump").stop().animate({
                            'left': $to_y + 7,
                            'top': $to_x + 7
                        },
                        "fast", function () {
                            $(".add_jump").fadeOut('fast', function () {
                                {#重新设置用户购物车中商品的条目数#}
                                $('#show_count').html(data.total_count);
                            });
                        });
                } else {
                    {#添加失败#}
                    alert(data.errmsg)
                }
            })


        });
    </script>
{% endblock %}